* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #D7D7D9
    #353440
    #F0F0F2
    #7C8EA6
    #A68851
    #DFEDF2
    #1F4021
    #94A66D
    #B0BF99
    ;
}







/*

*/





/*

*/






<<<<<<< HEAD:dist/css/style.css
/* blog
=======
/* blog */
>>>>>>> d24db1c0dea0c7e0cb05cf245ce1251e6ec4d1fa:css/style.css
.blog-txt {
    text-align: center;
    
}
.blog-txt h1 {
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: #1F4021;
}
.blog-base {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    text-align: center;
} */

/* contact
#contact {
    margin: 40px 0;
}
.contact {
    width: 100%;
    height: 95vh;
    background-image: linear-gradient(to right bottom, #b0bf99d8, #94a66dd8),
    url(./img/pic-5.jpg);
    background-position: right;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 400px, 0 100%);
    padding: 15px;
}
.mb-3 label {
    color: #1F4021;
    font-weight: 500;
    font-size: 20px;
}
.cont-img  p{
    margin-top: 50px;
} */
/* footer
footer {
    margin-top: 20px;
    padding: 20px;
    color: #1F4021;
    font-weight: 600;
}
footer .footer {
    text-align: start;
}
footer .footer .row .col-6-lg li {
    list-style: none;
    
}
footer .footer .row .col-6-lg li a{
    list-style: none;
    text-decoration: none;
    color: #1F4021;
    font-weight: 500;
}
footer .footer .row .col-6-lg input {
    border: none;
    padding: 9px;
    border-bottom: #1F4021 1px solid;
}
.main-fa-cont {
    margin-left: 150px;
}
.coypright {
    text-align: center;
    
}
.coypright h3 {
    font-size: 15px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.note-download {
    padding: 7px 15px;
    color: #D7D7D9;
    font-weight: 400;
    font-family: Arial,
    Helvetica,
    sans-serif;
    background-color: #1F4021;
}
.fa-cont a {
    text-decoration: none;
    padding: 5px;
    color: #1F4021;
    font-size: 20px;
} */
/* .reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}
.reveal .active {
    transform: translateY(0px);
    opacity: 1;
} */
/* 
@media screen and (max-width: 920px) {
    header {
        width: 100%;
        height: 90vh;
        background-image: linear-gradient(to right bottom, #b0bf99d8, #94a66dd8), url(./img/pic-5.jpg);
        background-position: top;
        background-size: cover;
        clip-path: polygon(0 0, 100% 0, 100% 500px, 0 100%);
    }
    #about {
        width: 100%;
        height: inherit;
        background-image: linear-gradient(to right bottom, #b0bf99d8, #94a66dd8),
            url(./img/pic-5.jpg);
        background-position: top;
        background-size: cover;
        clip-path: polygon(0 0, 100% 0, 100% 840px, 0 100%);

    }
    .col-txt {
        padding-bottom: 25px;
    }
    .card {
        width: 140rem;
    }

    .card iframe {
        width: 100%;
    }
     .contact {
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(to right bottom, #b0bf99d8, #94a66dd8),
            url(./img/pic-5.jpg);
        background-position: right;
        background-size: cover;
        clip-path: polygon(0 0, 100% 0, 100% 630px, 0 100%);
        padding: 15px;
    } 
    .cont-img p {
        padding-bottom: 25px;
    }
}
@media screen and (max-width: 600px) {
    header {
        width: 100%;
        height: 90vh;
        background-image: linear-gradient(to right bottom, #b0bf99d8, #94a66dd8), url(./img/pic-5.jpg);
        background-position: top;
        background-size: cover;
        clip-path: polygon(0 0, 100% 0, 100% 500px, 0 100%);
    }
    #about {
        width: 100%;
        height: inherit;
        background-image: linear-gradient(to right bottom, #b0bf99d8, #94a66dd8),
            url(./img/pic-5.jpg);
        background-position: top;
        background-size: cover;
        clip-path: polygon(0 0, 100% 0, 100% 740px, 0 100%);

    }
    .col-txt {
        padding-bottom: 25px;
    }
    .card {
        width: 140rem;
    }

    .card iframe {
        width: 100%;
    }
    .contact {
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(to right bottom, #b0bf99d8, #94a66dd8),
            url(./img/pic-5.jpg);
        background-position: right;
        background-size: cover;
        clip-path: polygon(0 0, 100% 0, 100% 550px, 0 100%);
        padding: 15px;
    }
    .cont-img p {
        padding-bottom: 25px;
    } */
        /* #header-nav ul {
            display: none;
        
        }
        
        .side-img {
            width: 11%;
            position: relative;
            top: -360px;
            right: -50px;
            display: block;
        }
        
        .cont-side {
            background-color: #353440;
            width: 30%;
            height: 100vh;
            display: none;
            position: relative;
            top: -886px;
            right: -500px;
            transform: translateX(200px);
            transition: transform 1s;
        }
        
        .cont-side ul img {
            width: 20%;
            padding-top: 20px;
            display: block;
        }
        
        .cont-side ul li {
            padding: 20px;
            list-style: none;
            text-align: center;
        }
        
        .cont-side ul li a {
            color: #fff;
            font-size: 22px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 500;
        } */
                /*
}
@media screen and (max-width: 420px) {
    footer .footer .row .main-fa-cont  {
        display: block;
        text-align: center;
        margin-left: 0;
    }
         #header-nav ul {
            display: none;
        
        }
        
        .side-img {
            width: 7%;
            position: relative;
            top: -360px;
            right: -10px;
            display: block;
        }
        
        .cont-side {
            background-color: #353440;
            width: 30%;
            height: 100vh;
            display: none;
            position: relative;
            top: -886px;
            right: -100px;
            transform: translateX(200px);
            transition: transform 1s;
        }
        
        .cont-side ul img {
            width: 20%;
            padding-top: 20px;
            display: block;
        }
        
        .cont-side ul li {
            padding: 20px;
            list-style: none;
            text-align: center;
        }
        
        .cont-side ul li a {
            color: #fff;
            font-size: 22px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 500;
        } 
}
 ---------------------side_bar---------------------- 
@media (max-width: 700px) {
     #header-nav ul {
        display: none;
        
    }
    .side-img {
        width: 7%;
        position: relative;
        top: -360px;
        right: -640px;
        display: block;
    }
    .cont-side {
        background-color: #353440; 
        width: 30%;
        height: 100vh;
        display: block;
        position: relative;
        top: -445px;
        right: -500px;
        transform: translateX(200px);
        transition: 1s ease-in-out;
        position: fixed;
    }
    .cont-side ul img{
        width: 20%;
        padding-top: 20px;
        display: block;
    }
    .cont-side ul li{
        padding: 20px;
        list-style: none;
        text-align: center;
    }
    .cont-side ul li a {
        color: #fff;
        font-size: 22px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
    } 
}

/* 
.cont-try-nav {
    width: 20%;
    height: 100vh;
    background-color: #353440;
    position: relative;
    top: -662px;
    right: -332px;
    transform: translateX(-150px);
    transition: transform 1s;
    
}
.cont-try-nav nav ul li {
    padding: 20px;
    list-style: none;
    text-align: center;
}
.cont-try-nav nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;

}
.side-close {
    position: relative;
    right: -200px;
    width: 20%;
    color: #fff;
} */