@import '../base/variables';

.btn-a-3 {
    padding: 7px 15px;
    color: $color-smoke-white;
    font-weight: 400;
    font-family: Arial,
    Helvetica,
    sans-serif;
    background-color: $color-primary;
}
#header-nav .head-text .btn .btn-a-1 {
    text-decoration: none;
    padding: 11px;
    color: #fff;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $color-primary;
}

#header-nav .head-text .btn .btn-a-2 {
    text-decoration: none;
    padding: 10px;
    color: $color-smoke-white;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    border: #fff 2px solid;
}