@import '../base/variables';

.btn-a-3 {
    padding: 7px 15px;
    color: $color-smoke-white;
    font-weight: 400;
    font-family: Arial,
    Helvetica,
    sans-serif;
    background-color: $color-primary;
}