@import '../base/variables';
/* contact */
#contact {
    margin: 70px 0;
}

.contact .container-md .row .col-md-4 {
    padding: 15px;
    border-radius: 5px;
    background-color: $color-secondary;
    // background-image: linear-gradient(to right bottom, $color-gradient-one, $color-gradient-two), url("../../../dist/assets/img/pic-5.jpg");
    // background-position: top;
    // background-size: cover;
}
.contact .container-md .row .col-md-4  h5{
    color: #F0F0F2;
    letter-spacing: 1px;
}
.contact .container-md .row .col-md-4 {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.35);
}
.contact .container-md .row .col-md-8 h1 {
    margin-left: 30px;
}
.contact .container-md .row .col-md-8 label {
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
    color: $color-primary;
}
// .contact .container-md .row .col-md-8 .form-input {
//     display: flex;
//     justify-content: space-between;
//     padding: 20px;
// }
.contact .container-md .row .col-md-8 input {
    width: 100%;
    border: none;
    border-bottom: 2px solid $color-primary;
    display: block;
    padding: 10px;
    margin-left: 10px;
}
.btn-form {
    padding: 10px;
    background-color: $color-primary;
    color: #fff;
    border: none;
    margin: 15px 0 0 30px;
    border-radius: 5px;
}

