
@import '../base/variables';
//@import url(../../../dist/assets/img/pic-5.jpg);
// .scroll_box {
//     width: 100%;
//     height: 12vh;
//     background-color: #1F4021;
//     transition: ease-in 0.4s;
//     // display: none;
//     position: fixed;
//     z-index: 1000;

// }
header {
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(to right bottom, $color-deep-green, $color-trans-green ), url("../../../assets/img/pic-5.jpg");
    background-position: top;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 450px, 0 100%);
}   
.header_logo {
    width: 100%;
    height: 80px;
    margin-top: 20px;
    transition: height 0.4s;
    position: relative;
}
.header_logo_1 {
    width: 100%;
    height: 80px;
    transition: height 0.4s;
    position: relative;
}
#header-nav .navigation {
    display: flex;
    justify-content: space-between;
}

#header-nav .navigation {
    display: flex;
    justify-content: space-between;
}

#header-nav ul {
    display: flex;
    margin: 10px;
}


#header-nav .head-text {
    margin-top: 70px;
    text-align: center;
}
#header-nav .head-text P{
    color: $color-smoke-white;
    text-align: center;
}


#header-nav ul li {
    padding: 10px;
    list-style: none;
}

#header-nav ul li a {
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    font-weight: 700;

}

#header-nav .head-text {
    margin-top: 40px;
    text-align: center;
    
}

@media (max-width: 700px) {
    header {
            width: 100%;
            height: 60vh;
            background-image: linear-gradient(to right bottom, $color-deep-green, $color-trans-green ), url("../../assets/img/pic-5.jpg");
            background-position: top;
            background-size: cover;
            clip-path: polygon(0 0, 100% 0, 100% 450px, 0 100%);
        }
                .header_logo {
                    width: 100%;
                    height: 40px;
                    margin-top: 20px;
                    transition: height 0.4s;
                    position: relative;
                }
                                #header-nav ul {
                                    display: flex;
                                    margin: 1px;
                                }
}
@media (max-width: 900px) {
    header {
            width: 100%;
            height: 70vh;
            background-image: linear-gradient(to right bottom, $color-deep-green, $color-trans-green ), url("../../assets/img/pic-5.jpg");
            background-position: top;
            background-size: cover;
            clip-path: polygon(0 0, 100% 0, 100% 450px, 0 100%);
        }
}
// @media (max-width: 1860px) {
//     header {
//             width: 100%;
//             height: 70vh;
//             background-image: linear-gradient(to right bottom, $color-gradient-one, $color-gradient-two), url("../../../dist/assets/img/pic-5.jpg");
//             background-position: top;
//             background-size: cover;
//             clip-path: polygon(0 0, 100% 0, 100% 450px, 0 100%);
//         }
// }

