$color-primary: #1F4021;
$color-secondary: #94A66D;
$color-complimentary: #B0BF99;
$color-smoke-white: #D7D7D9;
$color-black: #000;
$color-gradient-one: #b0bf99d8;
$color-gradient-two:  #94a66dd8;



//font-size
$bg-font-size: 20rem;
$font-size-main-header: 6rem;
$font-size-sub-header: 2.8rem;
$font-size-body: 1.8rem;
